<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mazefernandez.uplbtrade">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".UPLBTrade"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/uplb_trade_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/uplb_trade_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="s">
        <activity
            android:name=".activities.CustomerProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MessageActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.MessagesActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ReviewCustomerActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ReviewAppActivity"
            android:exported="true"
            android:label="@string/title_activity_review_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TransactionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TransactionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ReportUserActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="UPLB Trade"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AdminChatActivity"
            android:label="adminchat"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.OffersActivity"
            android:label="offers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MakeOfferActivity"
            android:label="make_offer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MeetUpActivity"
            android:label="meetup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.OfferActivity"
            android:label="offer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ItemActivity"
            android:label="item"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:label="edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddItemActivity"
            android:label="add_item"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.EditItemActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>